{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 class="display-3">Mon compte</h1>
                    <h3>Bienvenue {{ app.user.name }}</h3>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <h2>Actions admin</h2>
            <ul>
                <li><a href="{{ path('app_admin_doctor_index') }}">Gestion des docteurs</a></li>
                <li><a href="{{ path('app_admin_user_index') }}">Gestion des utilisateurs</a></li>
                <li><a href="{{ path('app_admin_appointment_index') }}">Création de rendez-vous entre un docteur et son patient</a></li>
            </ul>
        {% endif %}
        {% if app.user.isDoctor %}
            <h2>Actions docteur</h2>
            <ul>
                <li><a href="{{ path('app_doctor_appointment_index') }}">Création d'un rendez-vous par téléphone</a></li>
            </ul>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Rendez-vous patient à venir ({{ nextDoctorAppointments|length }})</h2>
                    {% if nextDoctorAppointments %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Durée 🕑</th>
                                <th scope="col">Patient🙍‍♂️‍</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for appointment in nextDoctorAppointments %}
                                <tr>
                                    <th scope="row">{{ appointment.startsAt|format_datetime('full', 'short', locale='fr') }}</th>
                                    <td>{{ appointment.endsAt.diff(appointment.startsAt)|date("%h") }}h</td>
                                    <td>{{ appointment.patient.name }}</td>
                                    <td>
                                        <form method="post" action="{{ path('app_appointment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Voulez-vous vraiment annuler ce rendez-vous ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
                                            <button class="btn btn-secondary">Annuler</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Vous n'avez pas de rendez-vous à venir
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <h2>Rendez-vous patient passés</h2>
                    {% if previousDoctorAppointments %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Durée 🕑</th>
                                <th scope="col">Patient🙍‍♂️‍</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for appointment in previousDoctorAppointments %}
                                <tr>
                                    <th>{{ appointment.startsAt|format_datetime('full', 'short', locale='fr') }}</th>
                                    <td>{{ appointment.endsAt.diff(appointment.startsAt)|date("%h") }}h</td>
                                    <td>{{ appointment.patient.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Vous n'avez pas eu de rendez-vous
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6">
                <h2>Rendez-vous à venir ({{ nextPatientAppointments|length }})</h2>
                {% if nextPatientAppointments %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Durée 🕑</th>
                                <th scope="col">Docteur👨‍⚕️</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in nextPatientAppointments %}
                                <tr>
                                    <th scope="row">{{ appointment.startsAt|format_datetime('full', 'short', locale='fr') }}</th>
                                    <td>{{ appointment.endsAt.diff(appointment.startsAt)|date("%h") }}h</td>
                                    <td>{{ appointment.doctor.name }}</td>
                                    <td>
                                        <form method="post" action="{{ path('app_appointment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Voulez-vous vraiment annuler ce rendez-vous ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
                                            <button class="btn btn-secondary">Annuler</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Vous n'avez pas de rendez-vous à venir
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h2>Rendez-vous passés</h2>
                {% if previousPatientAppointments %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Durée 🕑</th>
                                <th scope="col">Docteur👨‍⚕️</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in previousPatientAppointments %}
                                <tr>
                                    <th>{{ appointment.startsAt|format_datetime('full', 'short', locale='fr') }}</th>
                                    <td>{{ appointment.endsAt.diff(appointment.startsAt)|date("%h") }}h</td>
                                    <td>{{ appointment.doctor.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Vous n'avez pas eu de rendez-vous
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
