{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Connexion</h1>
                </div>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="_remember_me">
                        <label class="form-check-label" for="flexCheckDefault">
                            Se souvenir de moi
                        </label>
                    </div>

                    <button class="btn btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
