{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 class="display-3">Inscription</h1>
                </div>
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstname, {
                    label: 'Prénom'
                }) }}
                {{ form_row(registrationForm.lastname, {
                    label: 'Nom'
                }) }}
                {{ form_row(registrationForm.socialSecurityNumber, {
                    label: 'Numéro de sécurité sociale'
                }) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}

                <button type="submit" class="btn btn-primary">Inscription</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
